body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  /* background-color: rgba(0, 0, 0, 0.3) */
  background-color: black
}

::-webkit-scrollbar {
  display: none;
}
